@media (max-width: 1600px) {
    .main-text-slideshow {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    html {
        font-size: 12px;
    }

    .main {
        height: auto;
    }

    .menu {
        width: 50%;
    }

    .services-item {
        grid-template-rows: repeat(4 minmax(269px, 270px));
        grid-template-columns: repeat(3, minmax(399px, 400px));
    }

    .social-menu {
        width: 50%;
    }

    .main-text {
        margin-bottom: 50px;
    }

    .contacts {
        width: 75%;
    }

    .address-phone {
        flex-direction: column;
    }

    .address,
    .phone {
        width: 100%;
        padding-bottom: 50px;
    }
}



@media (max-width: 1200px) {

    .contacts {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .contact-social>.social {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .menu {
        display: none;
    }

    .services-item {
        grid-template-rows: repeat(5 minmax(269px, 270px));
        grid-template-columns: repeat(2, minmax(399px, 400px));
    }

    .overlay-item {
        height: 120px;
    }

    .item a>h3 {
        height: 120px;
    }

    .m-menu-link {
        display: block;
    }

    .m-menu {
        padding-left: 50px;
    }

    .m-menu .order {
        margin-top: 50px;
        border: 2px solid #f0efef;
        border-radius: 30px;
        padding: 5px 10px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }

    .container,
    .logo-menu,
    .main-text-slideshow {
        width: 90%;
    }
}

@media (max-width: 960px) {}

@media (max-width: 379px) {}