    *,
    *:before,
    *:after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        margin: 0;
        font-family: 'Source Sans Pro', sans-serif;
    }

    *:hover {
        transition: linear .2s;
        -webkit-transition: linear .2s;
        -moz-transition: linear .2s;
        -ms-transition: linear .2s;
        -o-transition: linear .2s;
    }

    *:not(:hover) {
        transition: linear .2s;
        -webkit-transition: linear .2s;
        -moz-transition: linear .2s;
        -ms-transition: linear .2s;
        -o-transition: linear .2s;
    }

    html {
        font-size: 10px;
        scroll-behavior: smooth;
    }

    h1,
    h2,
    h3 {
        text-transform: uppercase;
    }

    h1 {
        font-size: 7.2rem;
        color: #1f2b30;
    }

    h2 {
        font-size: 4.8rem;
    }

    h3 {
        font-size: 3rem;
    }

    li {
        font-size: 2rem;
    }

    p {
        font-size: 2.6rem;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    /* mobile menu */

    .m-menu-link {
        display: none;
        color: #061e37;
        font-size: 6rem;
    }

    .m-menu {
        padding: 0;
        padding-top: 100px;
        margin: 0;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        list-style: none;
        /* font-size: 100px; */
        line-height: 3rem;
        background-color: #061e37;
        z-index: 99;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }

    .m-menu__active {
        -webkit-transform: translateX(40%);
        transform: translateX(40%);
        transition: linear .2s;
        -webkit-transition: linear .2s;
        -moz-transition: linear .2s;
        -ms-transition: linear .2s;
        -o-transition: linear .2s;
        -moz-transform: translateX(40%);
        -ms-transform: translateX(40%);
        -o-transform: translateX(40%);
    }

    .m-menu li {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        font-weight: 700;
        padding-top: 70px;
        font-size: 5rem;
    }

    .m-menu a {
        text-decoration: none;
        color: #fff;
    }

    .close-menu {
        position: fixed;
        right: 500px;
        top: 0px;
        font-size: 9rem !important;
        color: #fff;
    }

    .close-menu:hover {
        cursor: pointer;
    }

    /* =================================================================================================================================================================================================================
    header */

    .main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        min-height: 600px;
        background: url(../img/bcp_heder_bg.png)no-repeat center;
        background-size: cover;
        width: 100%;
    }

    .top-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: #f0efef;
        width: 100%;
        border-bottom: #1f2b30 solid 10px;
    }

    .contact-social {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: row;
        background: #1f2b30;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        padding: 5px 0;
        flex-direction: row;
    }

    .contacts,
    .social {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .contacts {
        width: 55%;
    }

    .contacts i {
        color: #52C3E8;
    }

    .social {
        width: 15%;
    }

    .contacts a,
    .social a {
        color: #f0efef;
        font-weight: 500;
    }

    .contacts a:hover {
        color: #52C3E8;
    }

    .social i:hover {
        color: #52C3E8;
    }

    .logo-menu {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 80%;
        padding-bottom: 20px;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 35%;
    }

    .menu a {
        color: #1f2b30;
        font-weight: 700;
    }

    .menu li:not(:last-child)>a:hover {
        color: #52C3E8;
    }

    .menu .order {
        border: 2px solid #1f2a30;
        border-radius: 20px;
        padding: 5px 10px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }

    .menu .order:hover {
        border-color: #52C3E8;
        background: #52C3E8;
        color: #f0efef;
    }

    .main-text-slideshow {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 250px;
        width: 80%;
    }

    .main-text h1,
    p {
        font-weight: 800;
        color: #1f2a30;
    }

    .main-text p {
        margin-bottom: 40px;
    }

    .main-text a {
        float: right;
        display: block;
        width: 390px;
        padding: 40px 80px;
        font-weight: 700;
        font-size: 48px;
        text-transform: uppercase;
        color: #f0efef;
        background: #1f2a30;
        border: 2px solid #f0efef;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }

    .main-text a:hover {
        color: #1f2a30;
        border-color: #1f2a30;
        background: #f0efef;
    }

    .slider-box {
        position: relative;
        overflow: hidden;
        z-index: 0;
        width: 530px;
    }

    .slider {
        position: relative;
        width: 10000px;
        z-index: -1;
    }

    .slider img {
        position: relative;
        float: left;
        width: 530px;
        height: 400px;
        z-index: -1;
    }

    .slider-box .prev,
    .slider-box .next {
        position: absolute;
        top: 200px;
        z-index: 0;
        display: block;
        color: #f0efef;
        cursor: pointer;
    }

    .slider-box .prev i,
    .slider-box .next i {
        font-size: 50px;
    }

    .slider-box .prev {
        left: 10px;
        font-size: 2rem;
    }

    .slider-box .next {
        right: 10px;
        font-size: 2rem;
    }

    /* =====================================================================================================================header end==========================================*/
    /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ service ++++++++++++++++++++++++++++++++++++++++++++++++ */

    .services {
        padding-top: 180px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 250px;
    }

    h2 {
        color: #1f2a30;
        margin-bottom: 80px;
    }

    .services>.container {
        flex-direction: column;
    }

    .services-item {
        display: grid;
        grid-template-rows: repeat(3, minmax(269px, 270px));
        grid-template-columns: repeat(4, minmax(399px, 400px));
        grid-column-gap: 60px;
        grid-row-gap: 60px;
    }

    .overlay-item {
        width: 400px;
        height: 100px;
        transition: .1s linear;
        background: #1f2a30;
        opacity: .4;
        z-index: 0;
        position: absolute;
        -webkit-transition: .1s linear;
        -moz-transition: .1s linear;
        -ms-transition: .1s linear;
        -o-transition: .1s linear;
    }

    .item a {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 400px;
        height: 270px;
        padding-left: 20px;
    }

    .item a img {
        margin-left: -20px;
        width: 400px;
        height: 270px;
        z-index: -1;
        position: absolute;
    }

    .item hr {
        margin-left: -20px;
        position: relative;
        width: 400px;
        height: 10px;
        border: none;
        background: #f0efef;
    }

    .item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .item a>h3,
    .item a>p {
        color: #f0efef;
        z-index: 2;
        position: relative;
    }

    .item a>h3 {
        padding-bottom: 15px;
        display: inline-block;
        width: 400px;
        height: 100px;
        position: absolute;
    }

    .item:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        box-shadow: 5px 5px 20px #1f2b30;
    }

    .item:not(:hover) {
        transition: .2s;
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -ms-transition: .2s;
        -o-transition: .2s;
    }

    .discription {
        display: none;
        position: absolute;
        opacity: 0;
        text-transform: lowercase;
    }

    .item:hover .overlay-item {
        height: 250px;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
    }

    .item:not(:hover) .overlay-item {
        transition: .3s;
    }

    .item:hover .discription {
        display: inline-block;
        /* top: 20px; */
        opacity: 1;
        transition: .3s;
    }

    .item:hover h3 {
        top: 20px;
        height: 200px;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
    }

    .item:hover hr {
        top: 100px;
    }

    .item:hover a {
        justify-content: space-between;
    }

    /* =============================================================================================================================================================price */

    .price {
        padding-top: 90px;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-bottom: 220px;
        background: #52C3E8;
    }

    .price>.container {
        flex-direction: column;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
    }

    .table a {
        color: #1f2a30;
    }

    .table a:hover {
        color: #f0efef;
        text-shadow: #52C3E8 -1px -1px 10px;
        transition: .2s linear;
        -webkit-transition: .2s linear;
        -moz-transition: .2s linear;
        -ms-transition: .2s linear;
        -o-transition: .2s linear;
    }

    tr {
        height: 100px;
    }

    .number {
        width: 100px;
        text-align: center;
    }

    .service-name {
        padding-left: 35px;
    }

    .service-price {
        text-align: center;
    }

    tr th:nth-child(2) {
        text-align: left;
        padding-left: 35px;
    }

    .table tr:nth-child(odd) {
        background: #f0efef;
    }

    .table tr:nth-child(odd) th,
    .table tr:nth-child(odd) td:not(:last-child) {
        border-right: #52C3E8 10px solid;
    }

    .table tr:nth-child(even) td:not(:last-child) {
        border-right: #f0efef 10px solid;
    }

    /* =========================================================================================footer=================================================================== */

    .footer {
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        background: url(../img/footter_bg.png) no-repeat center;
        background-size: cover;
    }

    .footer>.container {
        flex-direction: column;
    }

    .address-phone {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 140px;
    }

    .address,
    .phone {
        width: 25%;
    }

    hr {
        border: none;
        background: #1f2b30;
        height: 5px;
        margin-bottom: 10px;
    }

    .address-phone p>a {
        color: #1f2a30;
    }

    .address-phone p>a:hover {
        color: #f0efef;
        text-shadow: 0px 0px 10px #1f2b30;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        background: #f0efef;
        border-top: #1f2a30 10px solid;
        padding-bottom: 40px;
    }

    .social-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        width: 35%;
    }

    .social-menu .logo-menu {
        padding: 0;
    }

    .social-menu .menu {
        margin-top: 60px;
        width: 100%;
    }

    .social-menu .social {
        margin-top: 20px;
        width: 35%;
    }

    .footer-bottom .social a {
        color: #1f2b30;
    }

    .author:hover {
        color: #52C3E8;
    }